backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
beautifulsoup4==4.4.1
Flask==0.10.1
futures==3.0.3
gunicorn==19.4.5
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
matplotlib==1.5.1
numpy==1.10.4
pandas==0.18.0
psycopg2==2.6.1
python-dateutil==2.5.0
pytz==2016.1
PyYAML==3.11
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
Werkzeug==0.11.4
sqlalchemy==1.0.13
seaborn==0.7.0
scikit-learn==0.17.1
