backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
bokeh==0.11.1
Flask==0.10.1
futures==3.0.3
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
numpy==1.10.4
pandas==0.18.0
python-dateutil==2.5.0
pytz==2016.1
PyYAML==3.11
requests==2.9.1
singledispatch==3.4.0.3
six==1.10.0
tornado==4.3
Werkzeug==0.11.4
gunicorn==19.4.5