<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Error</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.11.1.min.css" type="text/css" />
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    </head>
    <body>
        <center>
            <div>
                <h1>Error</h1>
                    <p>
                        Sorry! Your query returned no results. Note that you must enter a pitcher's full name (first and last) with proper capitalization for a season in which that pitcher was active.
                    </p>
                <h1>
                    <a href="../index">Back</a>
                </h1>
            </div>
        </center>
    </body>
</html>
