<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Scouting Report Generator</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  </head>
  <body>
    <div>
        <h1>Please select a pitcher.</h1>
          <form id='pitcher_select_form' method='post' action='index' >
                <input type ='radio' name='pitcher' value ='Clayton Kershaw'/>Clayton Kershaw<br />
                <input type ='radio' name='pitcher' value ='Jake Arrieta'/>Jake Arrieta<br />
                <input type ='radio' name='pitcher' value ='Johnny Cueto'/>Johnny Cueto<br />
                <input type ='radio' name='pitcher' value ='Edinson Volquez'/>Edinson Volquez<br />
                <input type ='radio' name='pitcher' value ='David Price'/>David Price<br />
                <input type ='radio' name='pitcher' value ='Dallas Keuchel'/>Dallas Keuchel<br />
                <input type = 'submit' value='Submit' />
            </form>
    </div>
  </body>
</html>
